.panel {
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  overflow: visible;

  padding: 1rem;

  position: relative;

  & canvas {
    display: block;
  }

  /* using box-shadow instead of backdrop for opacity control */
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.4);
  &::backdrop {
    background: transparent;
  }

  animation: slideIn 0.3s forwards;
  &.closing {
    animation: slideOut 0.3s forwards;
  }
}

#btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);

  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 6px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}
