@import '/src/index.css';

.container {
  /* fix the tab removing the border */
  position: relative;
  z-index: 10;

  min-height: clamp(21rem, 80vw + 1rem, 24rem);
  padding: 1rem;
  border: 1px solid var(--color-primary-dark);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--a300) - 0.47rem);

  @media (--breakpoint-md) {
    max-height: 24rem;
    overflow-y: scroll;
  }
}

.middle {
  flex-grow: 1;

  display: grid;
  place-items: center;

  text-align: center;
  font-weight: bold;
  font-size: var(--a500);
  user-select: none;
}

.downArrow {
  width: 1rem;
  height: 1rem;
}

.advanceContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--a300);
}

.loader {
  margin: auto;

  height: 4rem;
  width: 4rem;
  border: 6px solid var(--color-text);

  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
