.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);

  display: grid;
  place-items: center;
}

.panel {
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 6px;

  padding: 1rem;

  position: relative;

  & canvas {
    display: block;
  }
}

#btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);

  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 6px;
}

.overlay {
  animation: fadeIn 0.3s forwards;
  &.closing {
    animation: fadeOut 0.3s forwards;
  }
}

.panel {
  animation: slideIn 0.3s forwards;
  &.closing {
    animation: slideOut 0.3s forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
