.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  overflow: hidden;

  border: 1px solid var(--color-border);
  border-radius: 6px;
  padding: 1rem;

  &:focus-within {
    border-color: var(--color-primary-bright);
  }

  & > textarea {
    background: none;
    outline: none;
    border: none;
    resize: none;
    overflow: hidden;

    min-height: 2.5rem;
    width: 100%;
    text-align: center;

    color: inherit;
    font-weight: bold;
    font-size: calc(var(--a300) + 0.2rem + 0.2vw);
  }
}
