@custom-media --breakpoint-sm (width > 28.5rem);
@custom-media --breakpoint-md (width > 59.5rem);

:root {
  --breakpoint-sm: 28rem;
  --breakpoint-md: 59.5rem;

  --a200: clamp(0.5rem, 3vw + 0.1rem, 0.9rem);
  --a300: clamp(0.6rem, 3.2vw + 0.1rem, 1rem);
  --a400: clamp(0.6rem, 4.2vw + 0.1rem, 1.25rem);
  --a500: clamp(0.6rem, 5.2vw + 0.1rem, 1.563rem);
  --a600: clamp(0.6rem, 6.2vw + 0.1rem, 1.953rem);
  --a700: clamp(0.6rem, 7.6vw + 0.2rem, 2.441rem);
  --a800: clamp(0.6rem, 8.2vw + 0.1rem, 3.052rem);

  --color-border-light: hsl(0, 0%, 75%);
  --color-background-light: hsl(0, 0%, 98%);
  --color-text-light: rgba(0, 0, 0, 0.9);

  --color-border-dark: hsl(0, 0%, 25%);
  --color-background-dark: hsl(0, 0%, 2%);
  --color-text-dark: rgba(255, 255, 255, 1);
}

.dark-theme {
  --color-primary-bright: hsl(155, 100%, 60%);
  --color-primary-dark: hsl(155, 70%, 30%);

  --color-error-bright: hsl(0, 100%, 50%);
  --color-error-dark: hsl(0, 100%, 20%);

  --color-info-light: hsl(0, 0%, 45%);
  --color-info-medium: hsl(0, 0%, 35%);
  --color-info-dark: hsl(0, 0%, 10%);

  --color-transparent-low: rgba(255, 255, 255, 0.06);
  --color-transparent-medium: rgba(255, 255, 255, 0.1);
  --color-transparent-high: rgba(255, 255, 255, 0.15);
  --color-transparent-veryHigh: rgba(255, 255, 255, 0.3);

  --color-border: var(--color-border-dark);
  --color-background: var(--color-background-dark);

  --color-text: var(--color-text-dark);
}

.light-theme {
  --color-primary-bright: hsl(155, 100%, 38%);
  --color-primary-dark: hsl(155, 70%, 25%);

  --color-error-bright: hsl(0, 100%, 70%);
  --color-error-dark: hsl(0, 100%, 40%);

  --color-info-light: hsl(0, 0%, 50%);
  --color-info-medium: hsl(0, 0%, 65%);
  --color-info-dark: hsl(0, 0%, 95%);

  --color-transparent-low: rgba(0, 0, 0, 0.06);
  --color-transparent-medium: rgba(0, 0, 0, 0.1);
  --color-transparent-high: rgba(0, 0, 0, 0.15);
  --color-transparent-veryHigh: rgba(0, 0, 0, 0.3);

  --color-border: var(--color-border-light);
  --color-background: var(--color-background-light);

  --color-text: var(--color-text-light);
}

body {
  font-family: 'Courier New', sans-serif;
  letter-spacing: -0.5px;
  color: var(--color-text);
  background-color: var(--color-background);

  /* https://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page
  Prevent repositioning because of the scrollbar disappearing */
  padding-left: calc(100vw - 100%);
}

a {
  color: var(--color-primary-bright);
}

* {
  scrollbar-color: var(--color-transparent-veryHigh) transparent;
  color: inherit;
}

::-webkit-scrollbar {
  scroll-margin-right: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-transparent-high);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-transparent-veryHigh);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.x-btn {
  border: 0;
  background-color: transparent;
  --color: var(--color-info-medium);
  --angle: 45deg;
  --transition-timing: none;

  width: 2rem;
  min-width: 2rem;
  height: 2rem;

  transition: background-color var(--transition-timing);

  position: relative;
  &::after,
  &::before {
    background-color: var(--color);
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(var(--angle));
    transform-origin: center center;

    transition: transform var(--transition-timing),
      background-color var(--transition-timing);
  }

  &::after {
    height: 18px;
    width: 1px;
  }

  &::before {
    height: 1px;
    width: 18px;
  }

  cursor: pointer;
  &:hover {
    --color: var(--color-primary-bright);
  }
}
